<launch>
  <arg default="$(optenv LOGGING false)" name="logging" />
  <node args="--configfile $(find amussel)/data/simulation/swarm_test.xml       --dataPath  $(find amussel)/data/simulation/" name="uwsim" pkg="uwsim" type="uwsim" />
  <node args="-a -x '(.*)/camera(.*)|(.*)/sonar/(.*)|(.*)/soundmetrics_aris3000/(.*)' -o /home/stdops/logs/bags/amussel" if="$(arg logging)" name="logger" pkg="rosbag" type="record" />
  <group ns="amussel1">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-13.5824277011,-17.3479105029,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel1/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel2">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-3.07411489416,-4.46099774207,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel2/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel3">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-5.22862598361,9.61703755419,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel3/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel4">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-19.1757971071,-19.1085238436,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel4/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel5">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-0.154463894753,-0.534700340663,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel5/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel6">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-4.80642807024,13.7698850411,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel6/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel7">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[19.9110417955,-11.4472663809,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel7/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel8">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[1.23025488518,-7.80553645362,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel8/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel9">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-3.76675682382,17.6238336502,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel9/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel10">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-13.2523959097,14.2435685596,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel10/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
</launch>
