<launch>
  <arg default="$(optenv LOGGING false)" name="logging" />
  <node args="--configfile $(find amussel)/data/simulation/swarm_test.xml       --dataPath  $(find amussel)/data/simulation/" name="uwsim" pkg="uwsim" type="uwsim" />
  <node args="-a -x '(.*)/camera(.*)|(.*)/sonar/(.*)|(.*)/soundmetrics_aris3000/(.*)' -o /home/stdops/logs/bags/amussel" if="$(arg logging)" name="logger" pkg="rosbag" type="record" />
  <group ns="amussel1">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel1.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel1/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel2">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel2.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel2/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel3">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel3.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel3/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel4">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel4.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel4/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel5">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel5.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel5/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel6">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel6.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel6/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel7">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel7.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel7/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel8">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel8.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel8/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel9">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel9.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel9/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel10">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel10.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel10/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel11">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel11.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel11/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel12">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel12.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel12/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel13">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel13.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel13/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel14">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel14.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel14/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
  <group ns="amussel15">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel15.yaml" />
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/simulation_standard.xml" />
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel15/uwsim_hook" />
    </include>
    <node name="scenario_controller" pkg="amussel" type="scenario_controller.py" />
    <node name="action_server" pkg="amussel" type="action_server.py" />
  </group>
</launch>
