<launch>
  <param name="use_sim_time" value="true" />
  <node name="simulation_clock2" pkg="snippets" type="simulation_clock2">

    </node>
  <node name="uwsim_location_holder" output="screen" pkg="subcultron_launch" type="uwsim_location_holder.py">

    </node>
  <arg default="$(optenv LOGGING false)" name="logging" />
  <node args="--configfile $(find subcultron_launch)/data/simulation/swarm_test.xml       --dataPath  $(find subcultron_launch)/data/simulation/" name="uwsim" pkg="uwsim" type="uwsim" />
  <group ns="apad1">
    <rosparam file="$(find apad)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find apad)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find apad)/data/dynamics/apad.yaml" />
    <rosparam param="eta0">[-2.06246273308,-0.607910385186,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find apad)/data/locations/swarm_loc.yaml" />
    <include file="$(find apad)/data/devices/static_frames.xml" />
    <include file="$(find apad)/data/simulation/scenario/simulation_gpgp_agent.xml">
      <arg name="battery_level" value="74.3989845104" />
    </include>
    <include file="$(find apad)/data/control/control_standard.xml" />
    <include file="$(find apad)/data/primitives/primitives_standard.xml" />
    <include file="$(find apad)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="apad1/uwsim_hook" />
    </include>
    <node name="coordinator" output="screen" pkg="gpgp_agent_subcultron" type="GPGP_coordinator_aPad.py">
      <param name="label" value="aP" />
      <param name="pack" value="gpgp_agent_subcultron" />
    </node>
    <node name="task_assessor" output="screen" pkg="gpgp_agent_subcultron" type="task_assessor_aPad.py">
      <param name="label" value="aP" />
      <param name="pack" value="gpgp_agent_subcultron" />
    </node>
    <node name="executor" output="screen" pkg="gpgp_agent_subcultron" type="task_executor_aPad.py">
      <param name="label" value="aP" />
    </node>
  </group>
  <group ns="afish1">
    <rosparam file="$(find afish)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find afish)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find afish)/data/dynamics/afish.yaml" />
    <rosparam param="eta0">[13.886461264,0.181002431407,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find afish)/data/locations/swarm_loc.yaml" />
    <include file="$(find afish)/data/devices/static_frames.xml" />
    <include file="$(find afish)/data/simulation/scenario/simulation_gpgp_agent.xml">
      <arg name="battery_level" value="94.9581080422" />
    </include>
    <include file="$(find afish)/data/control/control_standard.xml" />
    <include file="$(find afish)/data/primitives/primitives_standard.xml" />
    <include file="$(find afish)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="afish1/uwsim_hook" />
    </include>
    <node name="coordinator" output="screen" pkg="gpgp_agent_subcultron" type="GPGP_coordinator_aPad.py">
      <param name="label" value="aF" />
      <param name="pack" value="gpgp_agent_subcultron" />
    </node>
    <node name="task_assessor" output="screen" pkg="gpgp_agent_subcultron" type="task_assessor_aFish.py">
      <param name="label" value="aF" />
      <param name="pack" value="gpgp_agent_subcultron" />
    </node>
    <node name="executor" output="screen" pkg="gpgp_agent_subcultron" type="task_executor_aFish.py">
      <param name="label" value="aF" />
    </node>
  </group>
  <group ns="amussel1">
    <rosparam file="$(find amussel)/data/navigation/params/nav_standard.yaml" />
    <rosparam file="$(find amussel)/data/control/params/controllers_standard.yaml" />
    <rosparam file="$(find amussel)/data/dynamics/amussel.yaml" />
    <rosparam param="eta0">[-2.40189121415,2.45214995628,0,0,0,0]</rosparam>
    <rosparam command="load" file="$(find amussel)/data/locations/swarm_loc.yaml" />
    <include file="$(find amussel)/data/devices/static_frames.xml" />
    <include file="$(find amussel)/data/simulation/scenario/simulation_gpgp_agent.xml">
      <arg name="battery_level" value="28.1445308949" />
    </include>
    <include file="$(find amussel)/data/control/control_standard.xml" />
    <include file="$(find amussel)/data/primitives/primitives_standard.xml" />
    <include file="$(find amussel)/data/simulation/visualization_standard.xml">
      <arg name="hook_sel" value="amussel1/uwsim_hook" />
    </include>
    <node name="coordinator" output="screen" pkg="gpgp_agent_subcultron" type="GPGP_coordinator_aMussel.py">
      <param name="label" value="aM" />
      <param name="pack" value="gpgp_agent_subcultron" />
    </node>
    <node name="task_assessor" output="screen" pkg="gpgp_agent_subcultron" type="task_assessor_aMussel.py">
      <param name="label" value="aM" />
      <param name="pack" value="gpgp_agent_subcultron" />
    </node>
    <node name="executor" output="screen" pkg="gpgp_agent_subcultron" type="task_executor_aMussel.py">
      <param name="label" value="aM" />
    </node>
  </group>
</launch>
